@model IEnumerable<Consumo_veiculos.ViewModels.UsuarioViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuários</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar novo usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Visualisar</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Deletar</a>
                </td>
        </tr>
}
    </tbody>
</table>
